{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/pages/index.css">
{% endblock %}

{% block content %}
<section id="intro">
    <h1>Introduction</h1>
    <p>
        D'après une étude réalisée au Danemark sur 42 ans, le risque de faire une tentative de suicide chez les personnes trans est huit fois plus élevé (article du Monde en 2023).
    </p>
    <p>
        Entre le <strong>rejet familial</strong>, la <strong>transphobie subie</strong> et intériorisée, et la dysphorie de genre, les personnes transgenres sont beaucoup plus fragilisées et donc sujettes à la dépression.
    </p>
    <p>
        Ce site cherche à donner accès à des témoignages de personnes transgenres sur les violences qu'elles ont dû subir à cause de leur identité de genre.
    </p>
    <p>
        En proposant ce contenu, ce site vise à montrer que derrière le côté "paillettes" du débat et la supposée "tendance" se cache une réalité beaucoup plus sombre : celle d'une minorité qui continue de subir des violences malgré les nombreuses actions déjà entreprises.
    </p>
    <p>
        Si tu es trans et que tu souhaites témoigner, n'hésite pas à nous contacter via la <a href="/contact">page de contact</a>.
    </p>
</section>

<section id="site-presentation">
    <h2>Fonctionnement du site</h2>
    <p>
        Ce site est composé de différentes parties :
    </p>
    <ul>
        <li class="normal">La partie <a href="/temoignage">Témoignages</a> donne accès à tous les témoignages sur des violences transphobes subies, présentés de manière chronologique.</li>
        <li class="normal">La page <a href="/historique">Historique</a> présente des anecdotes historiques sur des personnalités ou des communautés qui semblent correspondre à des personnes transgenres.</li>
        <li class="normal">La section <a href="/aides">Aides</a> permet de trouver des associations de soutien, des forums de discussion, ainsi que des ressources de vulgarisation sur la transidentité.</li>
        <li class="normal">La page <a href="/contact">Contact</a> fournit les informations nécessaires si tu souhaites transmettre ton témoignage.</li>
    </ul>
    <div class="warning">
        <p><strong>Note :</strong> Ce site a été créé par des personnes non-professionnelles du domaine. Les sections historiques et aides ne sont pas exhaustives et visent simplement à fournir des pistes de recherche pour celles et ceux qui souhaiteraient approfondir le sujet.</p>
    </div>
</section>
{% endblock %}
